<template>
  <div class="question-container">
    <el-table
        :data="list.filter(data => !search || data.questionTitle.toLowerCase().includes(search.toLowerCase()))"
        @row-click="moveDetail"
        style="width: 100%">

      <el-table-column
          width="120"
          label="게시물 번호"
          prop="id">
      </el-table-column>
      <el-table-column
          width="120"
          label="날짜"
          prop="noticeCreateDate">
      </el-table-column>
      <el-table-column
          label="게시물 제목"
          width="900"
          prop="noticeTitle">
      </el-table-column>
      <el-table-column
          width="120"
          label="작성자"
          prop="member">
      </el-table-column>
      <el-table-column
          width="120"
          label="게시 상태"
          prop="noticeIsPost">
      </el-table-column>
      <el-table-column
          width="100"
          align="right">
        <template slot-scope="scope">
          <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">
            <nuxt-link to="moveDetail">Edit</nuxt-link></el-button>
        </template>
      </el-table-column>
    </el-table>
      <div class= "검색 필드인데 안에 넣던지 다른데서 갖다 쓰던지 알아서 하슈">
      <el-autocomplete
        v-model="state"
        :fetch-suggestions="querySearchAsync"
        placeholder="Please input"
        @select="handleSelect"
      ></el-autocomplete>
      </div>

    <div class="page-button">
      <el-pagination
          background
          layout="prev, pager, next"
          :total="1000">
      </el-pagination>
    </div>
  </div>

</template>

<script>
export default {
  data() {
    return {
      list: []
      // tableData: [{
      //   noticeNumber: 1,
      //   noticeDate: '2024-02-02',
      //   noticeTitle: '설 연휴 배송 관련 공지',
      //   noticeIsPost: '게시 중'
      // }, {
      //   noticeNumber: 2,
      //   noticeDate: '2023-12-30',
      //   noticeTitle: '1월 1일 배송 공지',
      //   noticeIsPost: '게시 중'
      // }, {
      //   noticeNumber: 3,
      //   noticeDate: '2023-12-20',
      //   noticeTitle: '크리스마스 연휴 배송 공지',
      //   noticeIsPost: '게시 안함'
      // }, {
      //   noticeNumber: 4,
      //   noticeDate: '2023-10-20',
      //   noticeTitle: '추석 연휴 배송 공지',
      //   noticeIsPost: '게시 안함'
      // }]
      ,
      links: [],
      state: '',
      timeout:  null,
    }
  },
  methods: {
    getList() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,true)

      this.$store.dispatch(this.$noticeConstants.DO_NOTICE_LIST)
          .then((res) => {
            console.log('noticeList',res)
            this.list = res.data
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
          .catch((err)=> {
            this.$toast.error(err.response.data.msg)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,false)
          })
    },
    moveCreate() {
      this.$router.push('notice/add')
    },
    moveDetail(data) {
      let linkBaseUrl = 'notice/detail/'
      this.$router.push('${linkBaseUrl}${data.id}')
    },
    moveEdit(id) {
      let linkBaseUrl = 'notice/edit/'
      this.$router.push(`${linkBaseUrl}${id}`)

    },

    handleEdit(index, row) {
      console.log(index, row);
    },


    loadAll() {
      return [
        { "value": "vue", "link": "https://github.com/vuejs/vue" },
        { "value": "element", "link": "https://github.com/ElemeFE/element" },
        { "value": "cooking", "link": "https://github.com/ElemeFE/cooking" },
        { "value": "mint-ui", "link": "https://github.com/ElemeFE/mint-ui" },
        { "value": "vuex", "link": "https://github.com/vuejs/vuex" },
        { "value": "vue-router", "link": "https://github.com/vuejs/vue-router" },
        { "value": "babel", "link": "https://github.com/babel/babel" }
      ];
    },
    querySearchAsync(queryString, cb) {
      var links = this.links;
      var results = queryString ? links.filter(this.createFilter(queryString)) : links;

      clearTimeout(this.timeout);
      this.timeout = setTimeout(() => {
        cb(results);
      }, 3000 * Math.random());
    },
    createFilter(queryString) {
      return (link) => {
        return (link.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    handleSelect(item) {
      console.log(item);
    },
  },



  created() {
    this.getList()
  },
  mounted() {
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'NOTICE_LIST'),
        this.links = this.loadAll();
  },

}
</script>
