<template>
    <div>
        <div class="custom-loading-container" v-if="loadingShow">
<!--          로딩쇼라는게 참이면 이경우애  보여준다. 이 컴포넌트를 사용한다.-->
            <div class="custom-loading-back"></div>
            <div class="custom-loading-contents">
                <i class="el-icon-loading"></i>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  //컴퓨티드는 계산되어지는값 계산되어지는 것들은 컴퓨티드를 통해서 처리한다.
    computed: {
        loadingShow() {
            return this.$store.getters[this.$customLoadingConstants.GET_LOADING_SHOW]
          //
        }
    }
}
</script>
