
<template>
  <div>
    <div v-if="detailInfo != null">

      <el-form :model="goodsItem"  label-width="auto" id="goodsForm">

        <el-row :gutter="5">

          <el-col :span="22">
            <el-form-item>
              <div class="product-image">
                <div class="block">
                  <span class="demonstration">Main Image</span>
                  <el-image style="width: 100px; height: auto" :src="goodsItem.productMainImage"/>
                </div>
                <div class="block">
                  <span class="demonstration">Sub Image1</span>
                  <el-image style="width: 100px; height: auto" :src="goodsItem.productSubImage1"/>
                </div>
                <div class="block">
                  <span class="demonstration">Sub Image2</span>
                  <el-image style="width: 100px; height: auto" :src="goodsItem.productSubImage2"/>
                </div>
                <div class="block">
                  <span class="demonstration">Sub Image3</span>
                  <el-image style="width: 100px; height: auto" :src="goodsItem.productSubImage3"/>
                </div>
              </div>
            </el-form-item>
          </el-col>

        </el-row>

        <el-row>
          <el-col :span="22">
            <el-form-item prop="id">
              <el-input v-model="goodsItem.productCode" :disabled="true">
                <template slot="prepend">상품코드</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item prop="productName">
              <el-input v-model="goodsItem.productName">
                <template slot="prepend">상품명</template>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row :gutter="5">

          <el-col :span="3">
            <el-form-item prop="goodsSize">
              <el-select v-model="goodsItem.goodsSize" placeholder="Select">
                <el-option
                    v-for="item in sizeOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
              </el-select>

            </el-form-item>
          </el-col>

          <el-col :span="5">
            <el-form-item prop="productColor">
              <el-input v-model="goodsItem.productColor">
                <template slot="prepend">상품색상</template>
              </el-input>
            </el-form-item>
          </el-col>

          <el-col :span="1">
            <el-form-item prop="productColor">
              <el-tag id="productColor"
                      :style="{backgroundColor:goodsItem.productColor ? goodsItem.productColor : '#FFFFFF'}"
                      v-model="goodsItem.productColor">
              </el-tag>
            </el-form-item>
          </el-col>

        </el-row>

        <el-row :gutter="5">
            <el-col :span="22">
            <el-checkbox v-model="goodsItem.ynFree">무료 여부</el-checkbox>
            <el-checkbox v-model="goodsItem.ynMembership">멤버쉽 여부</el-checkbox>
            <el-checkbox v-model="goodsItem.ynOffline">오프라인 대여</el-checkbox>
            <el-checkbox v-model="goodsItem.ynOneDay">One Day</el-checkbox>
            <el-checkbox v-model="goodsItem.ynPost">Post</el-checkbox>
            </el-col>
        </el-row>

        <el-row :gutter="5" style="margin-top:3rem;">
          <el-col :span="3">
            <el-form-item>
              <el-button type="primary" class="size-full" @click="doPutData()">저장</el-button>
            </el-form-item>
          </el-col>
          <el-col :span="3">
            <el-form-item>
              <el-button type="info" class="size-full" @click="goList()">목록</el-button>
            </el-form-item>
          </el-col>
        </el-row>

      </el-form>
    </div>
  </div>

</template>

<style scoped>
  /* 입력 폼 스타일*/
  #goodsForm {
    /*margin:0px auto;*/
    width:60%;
    padding:1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  /* 상품 색깔 하기*/
  #productColor {
    color:#FFFFFF;
    width: 30px;
  }
  /* 상품이미지 박스*/
  .product-image .block {
    padding: 5px 0;
    text-align: center;
    border-right: solid 1px #F2F2F2;
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
    vertical-align: top;
  }
  /* 상품 이미지 마지막 오른쪽 보더 없애기*/
  .product-image .block:last-child {
    border-right: none;
  }
  /* 상품 이미지 설명*/
  .product-image .demonstration {
    display: block;
    color: #CDCDCD;
    font-size: 12px;
    margin-bottom: 10px;
  }
</style>
<script>
export default {
  //middleware:'auth',
  async asyncData({ route }) {
    const { id } = route.params
    return {
      id : id
    }
  },
  data() {
    return {
      id:'',
      // 조회한 데이터
      detailInfo:'',
      // 수정하려는 데이터
      goodsItem: {

        productCreateDate : '',
        productName : '',
        productCode : '',
        productInfo : '',
        productColor : '',
        goodsSize : '',
        ynMembership : false,
        ynOffline : true,
        ynFree : false,
        ynOneDay : true,
        ynPost : false,
        productMainImage : '',
        productSubImage1 : '',
        productSubImage3 : '',
   },

      // 상품 크기 셀렉트에 추가하는 옵션들
      sizeOptions : [
        {value: '', label : '상품 크기 선택'},
        {value: 'S', label : 'SMALL'},
        {value: 'M', label : 'MEDIUM'},
        {value: 'L', label : 'LARGE'},

      ]

    }
  },

  methods: {

    doPutData() {
      this.$toast.success('으아아아아아 시발')
    },

    goList() {
      this.$router.push(`/goods/list`)
    },

    async getDetail() {
      this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW,true)
      await this.$store.dispatch(this.$goodsConstants.DO_GOODS_DETAIL,{id: this.id})
          .then((res) => {
            console.log('상품 상세 정보',res);
            this.detailInfo = res.data;
            this.goodsItem = res.data;
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          })
          .catch((err) => {
            console.log('상품 상세 오류',err);
            this.$toast.error('[상품 조회 오류] 시스템 관리자 (강민정 또 너야?)에게 문의하세요')
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
          });

    },

  },

  // vue component 생성될 때 실행됨
  created() {
    this.getDetail()
  },

  // vue component 화면에 마운트 될 때 실행됨 ( created 보다 늦게됨 )
  mounted() {
    // 상품 메뉴  왼쪽에 진하게 표시
    this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'GOODS_LIST')
  },

}



</script>
