 <template>
    <div style="padding: 80px 0;">
      <el-col :span="18">
        <el-form :model="form" label-width="150px">


          <el-form-item>
            <el-input size="medium" placeholder="제목을 입력해주세요" v-model="form.name">
              <template slot="prepend">제목</template>
            </el-input>

            <el-input placeholder="" v-model="form.name">
              <template slot="prepend">날짜</template>
            </el-input>

            <el-input size="auto" placeholder="" v-model="form.name">
              <template slot="prepend">작성자</template>
            </el-input>


            <el-input placeholder="이미지 주소 입력해주세요" v-model="form.name">
              <template slot="prepend">이미지</template>
            </el-input>

          </el-form-item>


          <el-form-item>
            <el-input placeholder="내용을 입력해주세요" v-model="form.desc" type="textarea" rows="10">
              <template slot="prepend">내용</template>
            </el-input>
          </el-form-item>

          <el-form-item style="text-align: center">
            <el-button type="info" @click="onSubmit">등록</el-button>
            <el-button @click="backList" >취소</el-button>
          </el-form-item>
        </el-form>
      </el-col>
    </div>
</template>

<script>

import form from "@/pages/customer/form.vue";
import {defineComponent} from "vue";

export default defineComponent({
  computed: {
    form() {
      return form
    }
  },

  methods:{
    backList(){
      this.$router.push('/magazine/list')
    },

  }
})

</script>